.main-body {
    padding-left: 5%;
    padding-right: 5%;
}

.navbar .navab-nav .color-orange {
    color: orangered !important;
}

.head-padding {
    padding-top: 160px;
}

.navbar-toggler-icon {
    background-color: orangered;
    color: white;
}

#banner1 {
    background-image: url("../images/header-hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 870px;
    background-size: cover;
}

#footer-bg {
    background-image: url("../assets/images/footer-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pri-border-bottom {
    border-bottom: 1px solid #acacac4f;
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    p {
        text-align: center;
    }
    .navbar-collapse .main-btn {
        margin-left: 90px;
    }
    .head-padding {
        padding: 0px;
    }
    .header-hero-content {
        padding-top: 0px;
        text-align: center;
    }
    .header-hero-content .hero-title {
        font-size: 45px;
    }
    .header-hero-content .header-singup .main-btn {
        margin-left: 0;
        width: 160px;
    }
    .min-count div {
        margin: 0 auto;
    }
    .single-blog .blog-content .blog-title a {
        text-align: center;
    }
    .blog-author {
        width: 50%;
        margin: 0 auto;
    }
    .get-in-touch {
        padding-bottom: 0px !important;
    }
    .res-contact {
        width: 80%;
        margin: auto;
    }
    .pri-border-bottom {
        padding-bottom: 0px;
    }
    .single-pricing .pricing-title {
        border-bottom: 1px solid #acacac4f;
        padding-bottom: 40px;
    }
    .single-pricing .pricing-list ul li {
        margin-top: 0px;
    }
    .single-pricing.pricing-active {
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    }
    .single-blog .blog-content {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .blog-head {
        padding-bottom: 0px !important;
    }
    .contact-title {
        width: 80%;
        margin: auto;
    }
    .res-icon {
        padding-bottom: 10px;
    }
    .res-icon ul {
        width: 70%;
        margin: auto;
    }
    .single-contact-info {
        align-items: center;
        padding-top: 20px;
    }
    .contact-form label {
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
        color: #222;
    }
    .container .contact-form {
        padding-bottom: 30px;
    }
    .container .contact-form2 {
        padding: 0px !important;
    }
    .contact-form input {
        width: 100%;
        border-radius: 7px;
        background-color: #fff;
        padding: 0 30px;
        height: 50px;
        border: 3px solid #dedede4f;
        color: #222;
        font-size: 18px;
    }
    .contact-form textarea {
        width: 100%;
        border-radius: 7px;
        background-color: #fff;
        padding: 0 30px;
        height: 100px;
        border: 3px solid #dedede4f;
        color: #222;
        font-size: 18px;
    }
    #footer1 {
        text-align: center;
        align-items: center;
    }
    .footer-about,
    footer-contact,
    ul,
    ol {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        text-align: center;
        padding-bottom: 20px;
    }
    .social li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer1 .col-sm-12 {
        padding-bottom: 50px;
    }
    .footer-social {
        margin: 0 25%;
    }
}


/* .hero-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 47%;
    height: 100%;
} */